/* HomePage.module.css */
.mainContainer {
  font-family: "Arial", sans-serif; /* Fuente personalizada Playwrite IN */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Permite que crezca más allá del viewport */
  background-color: #f4f4f9;
  text-align: center;
  padding: 10px;
  box-sizing: border-box; 
}

.h1Ti{
  font-family: "Playwrite IN", serif; 
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

/* Estilo para el título principal */
.heading {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

/* Estilo para el párrafo de la bienvenida */
.paragraph {
  font-size: 1.80rem;
  color: #666;
  margin-bottom: 40px;
  max-width: 600px;
  line-height: 1.5;
}

/* Estilos para la sección de descripción */
.descriptionSection {
  display: flex;
  flex-direction: row; /* Imagen y texto en fila */
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-align: left;
  max-width: 1200px; /* Limitar el tamaño de la sección */
}

.descriptionSection img {
  width: 400px; /* Tamaño de la imagen */
  height: 400px;
  margin-right: 20px;
  border-radius: 10px;
  object-fit: cover; 
}

.textContent {
  max-width: 600px; 
}

.textContent h2 {
  font-family: "Playwrite IN", serif; 
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}




.textContent p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}
