/* AppointmentForm.module.css */
.formContainer {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
    max-width: 1000px; 
    margin: 2 auto; 
    padding: 100px;
    background-color: #ffffff;
    border-radius: 8px;
}



/* Formulario */
.formGroup {
    position: relative;
    margin-bottom: 40px;
    width: 150%; /* Ocupa todo el ancho disponible dentro de su contenedor */
}

.formGroup input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid #fbf9f9;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.formGroup input:focus {
    border-color: #5d5dff;
}

.formGroup label {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: #888;
    transition: all 0.3s ease;
    pointer-events: none;
}

.formGroup .floated {
    top: 10px;
    font-size:2px;
    color: #d1d1ff;
}

.formContainer button {
    width: 100%;
    padding: 12px;
    background-color: #9999f7;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.formContainer button:hover {
    background-color: #c1c1f0;
}

/* Calendario */
.calendarContainer {
    width: 38%; /* Ocupa la mitad del espacio disponible */
    margin-top: 20px; /* Espacio arriba del calendario */
}

.react-calendar {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(159, 159, 159, 0.1);
}


.playwriteIn {
    font-size: 24px;
    font-weight: bold;
    color: #040404; 
    margin-bottom: 20px;
}

